.section-clients {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    color: #afb1b8;

    transition: color var(--transition-duration)
        var(--transition-timing-function),
      border-color var(--transition-duration) var(--transition-timing-function);
  }

  &__link:hover,
  &__link:focus {
    border-color: var(--accent-color-text);
    color: var(--accent-color-text);
  }

  &__icon {
    fill: currentColor;
  }
}
