.social-list {
  display: flex;
  justify-content: space-between;

  &--team-margin {
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
  }

  &--footer-margin {
    margin: 20px 0 0 0;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--main-bg-color);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;

    transition: fill var(--transition-duration)
      var(--transition-timing-function);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color-text);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--main-bg-color);
  }

  &__icon--white-icon {
    fill: var(--main-bg-color);
  }

  &__link--transparent-bg {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }
}
